.vehicle_container {
  margin-bottom: 2rem;
  max-width: 650px;
}

.vehicle_title {
  margin-bottom: 0.75rem;
  font-family: var(--font-family-body);
}

.vehicle_tags {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.vehicle_tags p {
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.vehicle_tags p:hover {
  color: var(--cape-verde-green);
}
