.slider_box {
  padding: 20px 40px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
}

p.slider_box_title {
  font-size: 18px;
  margin-bottom: 2rem;
}

input[type="range"]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid var(--light-gray);
  background: var(--light-gray);
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

