.bottom {
  padding-block: 50px;
  background-color: var(--primary-dark);
}

.bottom_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-gray);
}

.bottom_wrapper_icon {
  padding: 5px;
  border: 1px solid var(--light-gray);
}
