.title {
  margin-bottom: 10px;
}

.line {
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item .link {
  color: var(--middle-gray);
}

.title,
.item .link:hover {
  color: var(--light-gray);
}
