.card {
  padding: 40px 30px;
  background-color: var(--white);
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--light-gray);
}

.card_info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 20px;
}