.features {
  padding-bottom: 80px;
  background-color: var(--white);
}

.features_header {
  margin-bottom: 50px;
}

.features_records {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features_record_type {
  font-size: 20px;
  margin-bottom: 15px;
}

.features_record_desc {
  color: var(--dark-gray);
}

@media only screen and (min-width: 481px) {
  .features_record {
    max-width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .features_records {
    justify-content: space-between;
    gap: 10px;
  }
}
