.card_poster {
  position: relative;
}

.card_img {
  width: 100%;
  height: 250px;
}

.card_details,
.card_price {
  position: absolute;
  padding: 5px 8px;
}

.card_details {
  top: 5px;
  left: 5px;
  background-color: var(--white);
}

.card_price {
  bottom: 0;
  color: var(--white);
  background-color: var(--orange);
}
