.search {
  padding: 40px;
  border-radius: 3px;
  background-color: var(--white);
  border-top: 4px solid var(--orange);
  width: 100%;
  max-width: 550px;
}

.search_title {
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  background-color: var(--light-gray);
}

.search_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
