.auto_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--light-gray);
  width: 100%;
  padding-inline: 50px;
}

.seller,
.seeker {
  min-height: 300px;
}

.seller {
  background-color: var(--primary-dark);
}

.seeker {
  background-color: var(--orange);
}

.banner {
  position: absolute;
  right: 50px;
  width: 450px;
  opacity: 0.35;
}

.title {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 30px;
  max-width: 400px;
}
