.search {
  padding-block: 80px;
  background-color: var(--white);
}

.search_form_preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.more_filters {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  color: var(--white);
  border-radius: 50px;
  background-color: var(--cape-verde-green);
  transition: all ease-in-out 0.5s;
  font-size: 18px;
}

.more_filters:hover {
  color: var(--cape-verde-green);
  background-color: var(--section-bg);
}

.filters {
  display: grid;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  padding: 40px;
  gap: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filters_select {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.sliders {
  display: flex;
  align-items: center;
  gap: 20px;
}
