.auth {
  padding-block: 80px;
  background-color: var(--white);
}

.auth_nav {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--light-gray);
}

.auth_wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding-inline: 20px;
}

.auth_nav_link {
  padding-bottom: 8px;
  font-size: 18px;
  transition: all ease-in-out 0.5s;
}

.auth_nav_link:hover {
  border-bottom: 1px solid var(--cape-verde-green);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-block: 30px;
}

.form_label {
  padding-left: 20px;
  padding-bottom: 10px;
  color: var(--dark-gray);
}

.form_input {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
}

.form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding-block: 20px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--cape-verde-green);
}

.form_btn:hover {
  color: var(--cape-verde-green);
  background-color: transparent;
  border: 2px solid var(--cape-verde-green);
}

.form_or {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form_line {
  width: 100%;
  height: 2px;
  background-color: var(--light-gray);
}

.form_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form_facebook_btn,
.form_google_btn {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  gap: 5px;
  border-radius: 20px;
  background-color: transparent;
}

.form_facebook_btn {
  color: #1967d2;
  border: 1px solid #1967d2;
}

.form_google_btn {
  color: #d93025;
  border: 1px solid #d93025;
}

@media only screen and (min-width: 481px) {
  .auth_wrapper {
    padding-inline: 5px;
  }

  .form_social {
    flex-direction: row;
  }
}
