.car {
  padding-block: 5rem;
}

.car_entries {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media only screen and (min-width: 481px) {
  .car_entries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .car_entries {
    grid-template-columns: repeat(3, 1fr);
  }
}
