.field {
  width: 100%;
}

.field_label {
  padding-left: 20px;
  padding-bottom: 10px;
  color: var(--dark-gray);
}

.field_item {
  font-size: 14px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
}
