.title {
  text-align: center;
  margin-bottom: 3.5rem;
}

.title {
  text-transform: uppercase;
}

.title p {
  margin-bottom: 0.75rem;
  color: var(--light-gray);
}

.title h1 {
  color: var(--white);
}
