.dropdown {
  position: absolute;
  top: 0;
  left: -100%;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  height: 1000vh;
  background-color: var(--hunter-green);
  z-index: 999;
  transition: all ease-in-out 0.5s;
}

.active {
  left: 0;
}

@media only screen and (min-width: 1024px) {
  .dropdown {
    display: none;
  }
}
