
.select {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  /* TODO: consider changes */
  width: 330px;
  height: 100%;
  border: 1px solid var(--light-gray);
  /* TODO: Consider adding a shadow */
  /* box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5); */
}

.toggle {
  position: absolute;
  top: 1em;
  right: 1.5em;
  z-index: 4;
  color: var(--middle-gray);
}

.placeholder {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5em 2em;
  color: var(--middle-gray);
}

.select input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
}

.title {
  padding: 1.2em 2em;
  color: var(--middle-gray);
  border: 1px solid var(--light-gray);
  display: none !important;
}