.makes {
  padding-block: 80px;
  background-color: var(--hunter-green);
}

.makes_items {
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
  color: var(--light-gray);
  border-bottom: 1px solid var(--dark-gray);
  padding-inline: 5px;
  margin-bottom: 50px;
}

.makes_entry p {
  font-size: 16px;
  font-weight: 900;
}

.makes_cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media only screen and (min-width: 1024px) {
  .makes_cards {
    flex-direction: row;
  }
}
