.panel {
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid var(--light-gray);
}

.panel_price_text,
.panel_leasing_text {
  font-size: 18px;
  color: var(--dark-gray);
  margin-bottom: 0.25rem;
}

.panel_price {
  margin-bottom: 1.5rem;
}

.panel_leasing {
  margin-bottom: 2rem;
}

.panel_leasing_price {
  color: var(--cape-verde-green);
  font-weight: bold;
}

.panel_action,
.panel_offer,
.panel_drive {
  display: flex;
}

.panel_action {
  flex-direction: column;
  gap: 0.5rem;
}

.panel_offer,
.panel_drive {
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 10px;
  padding: 1.15rem 1rem;
}

.panel_offer {
  color: var(--white);
  background-color: var(--cape-verde-green);
}

.panel_offer:hover {
  color: var(--cape-verde-green);
  border: 1px solid var(--cape-verde-green);
  background-color: transparent;
}

.panel_drive {
  color: var(--black);
  border: 1px solid var(--black);
  background-color: transparent;
}

.panel_drive:hover {
  color: var(--white);
  background-color: var(--black);
}

@media only screen and (min-width: 481px) {
  .panel_action {
    flex-direction: row;
  }
}

@media only screen and (min-width: 767px) {
  .panel {
    padding: 2.5rem;
  }
}
