.nav_info,
.nav_info_item {
  display: flex;
  align-items: center;
}

.nav_info {
  gap: 20px;
}

.nav_info_item {
  gap: 5px;
}

.nav_info_item div {
  color: var(--orange);
}

.nav_info_item p {
  display: none;
  color: var(--light-gray);
  transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 767px) {
  .nav_info_item p {
    display: inline-block;
  }
}
