.vehicles {
  padding-block: 120px;
  background-color: var(--white);
}

.vehicles_conditions {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-gray);
}