.input_box {
  display: flex;
}

.min_box,
.max_box {
  width: 50%;
}

.min_box {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.input_wrap {
  position: relative;
  display: flex;
  gap: 2px;
  width: 100%;
}

.input_addon {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--cape-verde-green);
  text-align: center;
  white-space: nowrap;
  background-color: var(--white);
  border: 1px solid var(--cape-verde-green);
  border-radius: 5px;
}
