/* .link {
} */

.primary_btn {
  color: var(--white);
  background-color: var(--orange);
}

.primary_btn:hover {
  background-color: var(--secondary-dark);
}

.primary_light_btn {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--white);
}

.primary_dark_btn {
  color: var(--white);
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-dark)
}
