.social {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 5;
  transform: translateX(-50%);
  padding-block: 15px;
  padding-inline: 35px;
  background-color: var(--orange);
  border-radius: 50px;
}

.social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.social_icons_item {
  color: var(--light-gray);
}
