.desc_container {
  padding: 3rem;
  border: 1px solid var(--light-gray);
}

.desc_container,
.desc_brochure {
  border-radius: 50px;
}

.desc_h5,
.desc_p {
  margin-bottom: 2rem;
}

.desc_h5 {
  font-family: var(--font-family-body);
}

.desc_brochure {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 230px;
  gap: 0.25rem;
  padding: 1.15rem 2rem;
  color: var(--hunter-green);
  background-color: var(--cape-verde-green-light);
}
