.records {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.record,.active {
  cursor: pointer;
  color: var(--white);
  transition: all ease-in-out 0.5s;
}

.record {
  font-size: 18px;
}

.active {
  font-size: 17px;
  padding-bottom: 3px;
  border-bottom: 2px solid var(--white);
}
