.card {
  width: 100%;
}

.card_img {
  height: 250px;
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}

.card_content {
  padding: 1.5rem;
  border-radius: 0px 0px 30px 30px;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
}

.card_title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.card_tagline {
  font-size: 0.85rem;
}

.card_specs,
.card_spec,
.card_details,
.card_btn {
  display: flex;
}

.card_specs,
.card_details {
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.card_specs,
.card_tagline {
  margin-bottom: 2rem;
}

.card_specs {
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1.5rem;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.card_spec {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.card_price {
  font-size: 1.15rem;
  font-weight: bold;
}

.card_btn {
  font-size: 0.95rem;
  align-items: center;
  gap: 0.1rem;
  color: var(--cape-verde-green);
  transition: all ease-in-out 0.5s;
}

.card_btn:hover {
  color: var(--hunter-green);
}