.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.content_subtitle {
  color: var(--orange);
  margin-bottom: 10px;
}

.content_titles {
  margin-bottom: 50px;
}

.content_btns {
  display: flex;
  gap: 20px;
}

@media only screen and (min-width:1080px) {
  .content {
    text-align: left;
    align-items: flex-start;
  }
}
/* 1080 - media */
