.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 10px;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 50px;
}

.wrapper_counter_number {
  font-size: 20px;
}

.wrapper_sort {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.wrapper_sort p {
  width: 100%;
  max-width: 70px;
}
