.types,
.records {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.types {
  flex-direction: column;
}

.types_info {
  margin-bottom: 40px;
}

.records {
  flex-wrap: wrap;
  gap: 15px;
}

.record {
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgba(197, 196, 196, 0.325);
  transition: all ease-in-out 0.5s;
}

.record:hover {
  background-color: rgba(231, 228, 228, 0.507);
}
