.service_features {
  padding-block: 50px;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/png/service-features-bg.png");
}

.service_features,
.features {
  display: flex;
  align-items: center;
}

.features {
  flex-wrap: wrap;
  align-items: normal;
  gap: 50px;
  justify-content: space-between;
}

.feature_id,
.feature_heading,
.feature_desc {
  color: var(--light-gray);
  margin-bottom: 15px;
}

.feature_desc {
  max-width: 230px;
  text-align: justify;
  word-break: break-all;
  margin-bottom: 0;
}
