.header {
  position: fixed;
  width: 100%;
  padding: 1.25rem;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}