.vehicles {
  padding-bottom: 5rem;
  background-color: var(--white);
}

.vehicles_conditions {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-gray);
}

.vehicles_condition {
  cursor: pointer;
}

.vehicles_path {
  color: var(--dark-gray);
  padding-bottom: 0.15rem;
  transition: all ease-in-out 0.5s;
}

.active,
.vehicles_path:hover {
  color: var(--cape-verde-green);
}

.active {
  border-bottom: 1px solid var(--cape-verde-green);
}

.vehicles_cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}

@media only screen and (min-width: 600px) {
  .vehicles_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 980px) {
  .vehicles_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
