.aside {
  position: fixed;
  top: 80px;
  left: -100%;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  z-index: 998;
  transition: all ease-in-out 0.5s;
  background-color: var(--cape-verde-green);
}

.active {
  left: 0;
}

.aside_btn {
  position: fixed;
  top: 180px;
  right: 0;
  display: flex;
  padding: 8px;
  border-radius: 5px;
  color: var(--white);
  opacity: 0.7;
  background-color: var(--cape-verde-green);
}

.aside_records {
  padding-top: 30px;
  padding-inline: 20px;
  height: 100%;
}

.aside_record {
  padding: 20px;
  transition: all ease-in-out 0.5s;
  border-radius: 20px;
}

.aside_record:hover {
  background-color: var(--cape-verde-green);
}

.aside_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
}

.aside_link p {
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  .aside {
    all: unset;
    width: 100%;
    max-width: 320px;
    /* change */
    height: 260vh;
    background-color: var(--cape-verde-green);
  }

  .aside_btn {
    display: none;
  }
}
