.bar,
.bar_btn {
  display: flex;
}

.bar {
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
}

.bar_btn {
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 100%;
  color: var(--white);
  background-color: var(--cape-verde-green);
}

.bar_btn:hover {
  background-color: transparent;
  color: var(--cape-verde-green);
  border: 1px solid var(--cape-verde-green);
}

@media only screen and (min-width: 767px) {
  .bar {
    flex-direction: row;
    padding: 10px;
    border-radius: 50px;
  }

  .bar_btn {
    max-width: 250px;
  }
}
