.profile_banner {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-block: 2.75rem 1rem;
}

.profile_name {
  font-size: 1.15rem;
  font-weight: 100;
  margin-bottom: 0.25rem;
}

.profile_role {
  font-size: 1.25rem;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .profile {
    display: none;
  }
}
