.panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.panel_auth,
.panel_sell {
  width: 100%;
  padding: 0.75rem;
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
}

.panel_auth {
  background-color: var(--black);
}

.panel_sell {
  background-color: var(--cape-verde-green);
}

.panel_auth:hover,.panel_sell:hover {
  background-color: rgba(47, 47, 47, 0.201);
}

@media only screen and (min-width: 1024px) {
  .panel {
    flex-direction: row;
  }

  .panel_auth,
  .panel_sell {
    width: 120px;
    background-color: rgba(255, 255, 255, 0.201);
  }

  .panel_auth:hover,
  .panel_sell:hover {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
  }
}
