.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 20px;
}

.content_line {
  margin-block: 15px 30px;
}

.content_paragraph {
  max-width: 500px;
  color: var(--middle-gray);
  margin-bottom: 50px;
}
