.overview {
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid var(--light-gray);
  background-color: #f9fbfc;
}

.overview_title {
  font-family: var(--font-family-body);
  font-size: 1.35rem;
  margin-bottom: 2rem;
}

.overview_record,
.overview_label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.overview_record {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
}

.overview_label p {
  text-align: left;
}

.overview_value {
  text-align: right;
}

.overview_label,
.overview_value {
  color: var(--dark-gray);
  transition: all ease-in-out 0.5s;
}

.overview_label:hover,
.overview_value:hover {
  color: var(--cape-verde-green);
}

@media only screen and (min-width: 767px) {
  .overview {
    padding: 2.5rem;
  }
}
