.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fields {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.textarea {
  margin-bottom: 40px;
}

.btn {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
