.sort,
.sort_field {
  display: flex;
  align-items: center;
}

.sort {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.sort,
.sort_field {
  gap: 0.75rem;
}

.sort_available,
.sort_by {
  font-size: 14px;
  color: var(--dark-gray);
}
