.cards_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.field {
  outline: none;
  padding: 15px 20px;
  border: 1px solid var(--light-gray);
}

.dashboard {
  display: flex;
}

.dashboard_section {
  /* TODO: Make it less for responsive screens */
  padding: 60px 60px 30px;
  width: 100%;
  background-color: var(--white);
}

.custom-select .react-select__menu {
  margin-top: 0; 
  margin-bottom: 0; 
  padding-top: 0; 
  padding-bottom: 0;
}