.specs,
.specs_entry {
  display: flex;
  align-items: center;
}

.specs {
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--white);
  margin-bottom: 30px;
  gap: 10px;
}

.specs_entry {
  gap: 12px;
}

.specs_entry_icon {
  color: var(--orange);
}

.specs_entry_info p {
  display: block;
}

.specs_entry_info p:nth-child(1) {
  margin-bottom: 2px;
  color: var(--middle-gray);
}

.specs_entry_info p:nth-child(2) {
  font-size: 18px;
  color: var(--secondary-dark);
}
