.banner {
  position: relative;
  z-index: 0;
}

.banner_date {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px 8px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 5px 0px 0px 5px;
}
