.popular {
  padding-block: 5rem;
  background-color: var(--hunter-green);
}

.popular_makers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media only screen and (min-width: 481px) {
  .popular_makers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .popular_makers {
    grid-template-columns: repeat(3, 1fr);
  }
}
